<div class="login mui-container form-container">
  <img class="logo" src="/assets/logo.jpg" alt="Munich Airport Logo" />
  <h1>
    Welcome to Munich Airport
  </h1>
  <div class="mui-container form-container">
  <p>
        Register for free Wifi & Your <strong>personalised Airport experience</strong> connected with your Flight information.
      </p>
  </div>
  <div class="mui-form">
    <div class="mui-panel">
      <div *ngIf="error" class="error">
        {{ error }}
      </div>
      <div class="mui-textfield mui-textfield--float-label">
        <input [(ngModel)]="loginForm.name" type="text" >
        <label>First & last name</label>
      </div>
      <div class="mui-textfield mui-textfield--float-label">
        <input [(ngModel)]="loginForm.email" type="email" >
        <label>E-mail</label>
      </div>
      <!--<div class="mui-textfield">
        <input type="password" placeholder="Password">
      </div>-->
      <div class="mui-textfield mui-textfield--float-label">
        <input [(ngModel)]="loginForm.flightNumber" type="text" >
        <label>Flight number</label>
      </div>
      <p class="sub">Please provide your telephone number if you would like alerts when your flight is ready.</p>
      <div class="mui-textfield mui-textfield--float-label">
        <input [(ngModel)]="loginForm.tel" type="text" >
        <label>Telephone number</label>
      </div>
      <div class="mui--text-right">
        <button class="mui-btn mui-btn--primary" (click)="login()">Let's Go!</button>
      </div>
    </div>
    
    
  </div>
</div>
