<div class="mui-container form-container">
  <h1 class="mui--text-display2">
    Welcome to Munich Airport
  </h1>
  <h2 class="mui--text-subhead">
    Please register for free wifi & personalised flight information
  </h2>
  <form action="" class="mui-form">
    <div class="mui-textfield">
      <input type="email" placeholder="E-Mail">
    </div>
    <div class="mui-textfield">
      <input type="password" placeholder="Password">
    </div>
    <div class="mui-textfield">
      <input type="text" placeholder="Boarding Pass">
    </div>
    <p>For an alert when your Flight is ready</p>
    <div class="mui-textfield">
      <input type="tel" placeholder="Telephone Number">
    </div>
    <div class="mui--text-right">
      <button class="mui-btn mui-btn--primary" (click)="login()">Let's Go!</button>
    </div>
  </form>
</div>
