/* You can add global styles to this file, and also import other style files */
body {font-family: 'Roboto', sans-serif; color: rgba(0,0,0,0.87)}
h1,h2,h3,h4,h5,h6 {font-family: 'PT Sans', sans-serif;}
h1 {font-size:28px;line-height:36px;letter-spacing:0.2; padding: 0 0 8px}

p, li{font-size:14px;line-height:20px;letter-spacing:0.2; padding: 0 0 16px}
.sub{color:rgba(0,0,0,0.54);font-size:12px;line-height:20px;letter-spacing:0.2;padding:0 0 8px;}
.sup{font-size:20px;line-height:28px;}

.mui-panel{border-radius:4px;}

.mui-btn:active {
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.2);
    box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.2);
}

i.material-icons{font-size: 36px;}