<div class="header">
  <div class="mui-appbar mui--z1">
    <div class="mui-container mui-row">
      <p class="name">{{ currentUser.name }}</p>
      <div class="mui-col-xs-7 header-left">
        
        <p><span class="sub">Flight Number</span><br>
        <span class="sup">{{ currentUser.flightNumber }} </span><br>
        {{ currentUser.departure.airport }}</p>
      </div>
      <div class="mui-col-xs-3 header-right">
        <p><span class="sub">Departure</span><br>
          {{ currentUser.departure.actualTime | date: 'shortTime' }}</p>
        <!--<span>{{timeDiff}}</span>-->
      </div>
      <div class="mui-col-xs-2 header-right">
        <p><span class="sub">Gate</span><br>
        {{ currentUser.departure.gate.length > 0 ? currentUser.departure.gate : ' - ' }}</p>
      </div>
    </div>
  </div>
  <button (click)="logout()" class="flight-info-btn mui-btn mui-btn--fab"><i class="material-icons md-36">&#xE5D3;</i></button>
</div>

<ul class="timeline">
  <li class="time time-first"><span class="sub">Arrival time at airport</span><span>{{ currentUser.createdAt | date:'shortTime' }}</span></li>
  <li *ngFor="let task of currentUser.standardTaskList; let i = index">
    <div (click)="checkItem(task)" class="mui-panel actionItem {{task.status ? 'done' : 'pending'}}">
      {{ i+1 }}
      {{task.name}}
    </div>
    <ul *ngIf="showOptions && i == 0">
      <li *ngFor="let store of shownStores">
        <div (click)="addSubtask(store)" class="mui-panel actionItem">
          <h4>{{store.title}}</h4>
          <p>Get 20% off your coffee</p>
        </div>
      </li>
    </ul>
  </li>
  <li class="time time-last"><span>{{ currentUser.departure.actualTime | date:'shortTime' }}</span><span class="sub">Flight departure time</span></li>
</ul>



{{ timeToDeparture }}



<ul _ngcontent-rrm-3="" class="timeline">
  <li _ngcontent-rrm-3="" class="time time-first"><span _ngcontent-rrm-3="" class="sub">Arrival time at airport</span><span _ngcontent-rrm-3="">10:47 PM</span></li>
  <li _ngcontent-rrm-3="">
    <div _ngcontent-rrm-3="" ng-reflect-class-name="mui-panel mui-row actionItem done" class="mui-panel actionItem done">
      <div class="mui-col-xs-9">
        <p class="sup">1. Checked in.</p>
      </div>
      <div class="mui-col-xs-3">
        <i class="material-icons">&#xE5CA;</i>
      </div>
    </div>
  </li><li _ngcontent-rrm-3="">
    <div _ngcontent-rrm-3="" ng-reflect-class-name="mui-panel actionItem active" class="mui-panel actionItem active">
      <div class="mui-col-xs-9">
        <p class="sup">2. Security-Check is ready.</p>
        <p class="sub">Many more experiences are available after security.</p>
      </div>
      <div class="mui-col-xs-3">
        <p class="check"><span>Done?</span></p>
      </div>
    </div>
  </li>
  
  <li _ngcontent-rrm-3="">
    <div _ngcontent-rrm-3="" ng-reflect-class-name="mui-panel actionItem notice" class="mui-panel actionItem notice">
      <div>
        <p>Your Flight has been delayed until <strong>18:56</strong></p>
      </div>
    </div>
  </li>

<li _ngcontent-rrm-3="" class="time time-last"><span _ngcontent-rrm-3="">13:54 AM</span></li>

  <li _ngcontent-rrm-3="">
    <div _ngcontent-rrm-3="" ng-reflect-class-name="actionItem text" class="actionItem text">
      <div>
        <p>You now have <strong>40 minutes</strong> more until you are ready to board. How would you like to spend them?</p>
      </div>
    </div>
  </li>
  
  <li _ngcontent-rrm-3="">
    <div _ngcontent-rrm-3="" ng-reflect-class-name="mui-panel actionItem pending" class="mui-panel actionItem pending">
      <div>
        <p class="sup">3. Boarding the Plane</p>
        <p class="sub">No worries! We will let you know when the plane is ready to board.</p>
      </div>
    </div>
  </li>
  

  <li _ngcontent-rrm-3="" class="time time-last"><span _ngcontent-rrm-3="">11:00 AM</span><span _ngcontent-rrm-3="" class="sub">Flight departure time</span></li>
</ul>

