<div class="header">
  <div class="mui-appbar mui--z1">
    <div class="mui-container mui-row">
      <p class="name">{{ currentUser.name }}</p>
      <div class="mui-col-xs-7 header-left">

        <p><span class="sub">Flight Number</span><br>
        <span class="sup">{{ currentUser.flightNumber }} </span><br>
        &#x2708; {{ currentUser.departure.airport }}</p>
      </div>
      <div class="mui-col-xs-3 header-right">
        <p><span class="sub">Departure</span><br>
          {{ currentUser.departure.actualTime | date: 'shortTime' }}</p>
        <!--<span>{{timeDiff}}</span>-->
      </div>
      <div class="mui-col-xs-2 header-right">
        <p><span class="sub">Gate</span><br>
        {{ currentUser.departure.gate.length > 0 ? currentUser.departure.gate : ' - ' }}</p>
      </div>
    </div>
  </div>
  <!-- <a routerLink="/overview" class="flight-info-btn mui-btn mui-btn--fab"><i class="material-icons md-36">&#xE5D3;</i></a> -->
</div>
{{ timeToSecurity }}
<div *ngIf="timeToSecurity < 10 && timeToSecurity > 0" class="alert-box">
  Time is close! You must hurry!
</div>
<div *ngIf="timeToSecurity <= 0" class="alert-box">
  You are too late! Please contact the counter to get support!
</div>

<ul class="timeline" *ngIf="mainTasks">
  <li class="time time-first"><span class="sub">Arrival time at airport</span><span>{{ currentUser.createdAt | date:'shortTime' }}</span></li>
  <li *ngFor="let task of mainTasks; let i = index">
    <div (click)="checkItem(task)">
      <div class="mui-panel actionItem {{task.status ? 'done' : 'active'}}" *ngIf="i == 0 && checkedIn && dateNow > dateCheckin">
        <div class="mui-col-xs-9">
          <p class="sup">1. Checked in.</p>
        </div>
        <div class="mui-col-xs-3">
          <i class="material-icons">&#xE5CA;</i>
        </div>
      </div>
      <div class="mui-panel actionItem {{task.status ? 'done' : 'active'}}" *ngIf="i == 0 && !checkedIn && dateNow > dateCheckin">
        <div class="mui-col-xs-9">
          <p class="sup">1. Checked in.</p>
          <p class="sub">Are you ready to check in ?</p>
        </div>
        <div class="mui-col-xs-3">
          <p class="check"><span>Done?</span></p>
        </div>
      </div>
      <div class="mui-panel actionItem pending" *ngIf="i == 0 && dateNow < dateCheckin">
        <div class="mui-col-xs-12">
          <p class="sup">1. Check in.</p>
          <p class="sub">We will notify you, when the Check-In is ready</p>
        </div>
      </div>
      <div class="mui-panel actionItem {{task.status ? 'done' : 'active'}}" *ngIf="i == 1 && !securityPassed && dateNow > dateSecurity">
        <div class="mui-col-xs-9">
          <p class="sup">2. Security-Check is ready.</p>
          <p class="sub">Many more experiences are available after security.</p>
        </div>
        <div class="mui-col-xs-3">
          <p class="check"><span>Done?</span></p>
        </div>
      </div>
      <div class="mui-panel actionItem {{task.status ? 'done' : 'active'}}" *ngIf="i == 1 && securityPassed && dateNow > dateSecurity">
        <div class="mui-col-xs-9">
          <p class="sup">2. Security-Check passed.</p>
        </div>
        <div class="mui-col-xs-3">
          <i class="material-icons">&#xE5CA;</i>
        </div>
      </div>
      <div class="mui-panel actionItem pending" *ngIf="i == 1 && dateNow < dateSecurity">
        <div class="mui-col-xs-12">
          <p class="sup">2. Security-Check.</p>
          <p class="sub">We will notify you, when the Security-Check is ready</p>
        </div>
      </div>
      <!-- -->
      <div class="mui-panel actionItem {{task.status ? 'done' : 'active'}}" *ngIf="i == 2 && !boarded && dateNow > dateBoarding">
        <div class="mui-col-xs-9">
          <p class="sup">3. Boarding is ready.</p>
          <p class="sub">Please procede to your gate number {{ currentUser.departure.gate.length > 0 ? currentUser.departure.gate : ' - ' }}</p>
        </div>
        <div class="mui-col-xs-3">
          <p class="check"><span>Done?</span></p>
        </div>
      </div>
      <div class="mui-panel actionItem {{task.status ? 'done' : 'active'}}" *ngIf="i == 2 && boarded && dateNow > dateBoarding">
        <div class="mui-col-xs-9">
          <p class="sup">3. Boarded.</p>
        </div>
        <div class="mui-col-xs-3">
          <i class="material-icons">&#xE5CA;</i>
        </div>
      </div>
      <div class="mui-panel actionItem pending" *ngIf="i == 2 && dateNow < dateBoarding">
        <div class="mui-col-xs-12">
          <p class="sup">3. Boarding.</p>
          <p class="sub">We will notify you, when the Boarding is ready</p>
        </div>
      </div>


      <div class="mui-panel actionItem active" *ngIf="i == 3 && dateNow > dateBoarding">
        <div class="mui-col-xs-12">
          <p class="sup">4. Baggage claim.</p>
          <p class="sub">You will can find your Baggage at Terminal 3 </p>
        </div>
      </div>
      <div class="mui-panel actionItem pending" *ngIf="i == 3 && dateNow < dateBoarding">
        <div class="mui-col-xs-12">
          <p class="sup">4. Baggage claim.</p>
          <p class="sub">The Terminal where your Baggage can be claimed is tbd</p>
        </div>
      </div>
    </div>



    <!-- -->



    <!-- optionalTasks ------------------------------------------------------------------------------------------ -->
    <ul *ngIf="optionalTasks.length > 0 && ((checkedIn && i == 0 && !securityPassed) || (securityPassed && i == 1 && !boarded))">
    </ul>


    <!-- Subtasks ---------------------------------------------------------------------------------------------- -->
    <ul *ngIf="(checkedIn && i == 0 && !securityPassed) || (securityPassed && i == 1 && !boarded)">
      <li class="time time-last"><span>{{ dateNow | date:'shortTime' }}</span></li>
      <li *ngIf="timeToSecurity <= 15">
        <div class="actionItem notify">
          <div>
            <p>You now have <strong>{{timeToSecurity}} minutes</strong> more until you are ready to board. Please keep the Security-Check in mind</p>
          </div>
        </div>
      </li>
      <li *ngIf="timeToSecurity > 15">
        <div class="actionItem text">
          <div>
            <p>You now have <strong>{{timeToSecurity}} minutes</strong> more until you are ready to board. How would you like to spend them?</p>
          </div>
        </div>
      </li>
      <li *ngFor="let task of optionalTasks; let i = index" (click)="toggleSubtask(task)">
        <div class="mui-panel actionItem active" *ngIf="!task.done">
          <div class="mui-col-xs-9">
            <p class="sup">{{task.title}}</p>
            <p>Get <strong>20%</strong> off your coffee</p>
          </div>
          <div class="mui-col-xs-3">
            <p class="check"><span>Done?</span></p>
          </div>

        </div>
        <div class="mui-panel actionItem done" *ngIf="task.done">
          <div class="mui-col-xs-9">
            <p class="sup">{{task.title}}</p>
            <p>Yeah, that was a damn good coffee</p>
          </div>
          <div class="mui-col-xs-3">
            <i class="material-icons">&#xE5CA;</i>
          </div>

        </div>
      </li>
      <li *ngFor="let store of shownStores; let i = index">
        <div (click)="addSubtask(store)" class="mui-panel actionItem options">
          <div class="mui-col-xs-2">
            <i class="material-icons">&#xE147;</i>
          </div>
          <div class="mui-col-xs-7">
            <p class="sup">{{store.title}}</p>
            <p>{{ store.subTitle }}</p>
          </div>
          <div class="mui-col-xs-3">
            <p class="hurztime">10 min</p>
          </div>
        </div>
      </li>
    </ul>
  </li>
  <li class="time time-last"><span>{{ currentUser.departure.actualTime | date:'shortTime' }}</span><span class="sub">Flight departure time</span></li>
</ul>
