.header {
    margin-bottom: 16px;
}

.mui-appbar{
    background: rgb(25, 182, 255)!important;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}

.header-left{
    padding: 16px;
}
.header-right{
    padding: 16px 16px 16px 0;
}
.header p{
    padding:0!important;
    margin:0!important;
}
.header p.name{
    padding:0 0 12px;
}
.header p.sub{
    color:#FFF;
}


.timeline {
    display: flex;
    flex-direction: column;
    margin-top: 160px;
}

ul {
    list-style: none;
    padding: 0 16px;
    margin: 0;
    text-align: center;
    position: relative;
}

ul:before{
    content:"";
    position: absolute;
    left:50%;
    top:91px;
    bottom:91px;
    width:1px;
    background: rgba(0,0,0,0.12);
    z-index: -1;
}

.time span.sub{
    padding: 8px;
    display: block;
}
.time-first span:last-child,.time-last span:first-child{
    display: inline-block;
    background: rgba(0,0,0,0.04);
    padding: 8px 12px;
    font-weight: bold;
}

.time-first{
    margin: 0 0 20px;
}

.time-first:after {
    content: "";
    height: 11px;
    width: 11px;
    border-radius: 5px;
    background: rgba(0,0,0,0.12);
    display: block;
    left: 50%;
    position: absolute;
    margin: 8px 0 0 -5px;
}

.time-last{
    margin: 20px 0 0;
    padding: 16px 0 0;
}
.time-last:before {
    content: "";
    height: 11px;
    width: 11px;
    border-radius: 5px;
    background: rgba(0,0,0,0.12);
    display: block;
    left: 50%;
    position: absolute;
    margin: -19px 0 0 -5px;
}

.actionItem {
    padding: 16px;
    margin-bottom: 16px;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
}

.actionItem.done {
    background-color: rgb(141, 221, 102);
}

.actionItem.pending {
    background-color: rgb(234, 248, 255);
}
