<div class="header">
  <div class="mui-appbar mui--z1">
    <div class="mui-container mui-row">
      <div class="mui-col-xs-8 header-left">
        <p class="name">{{ currentUser.name }}</p>
        <p><span class="sub">Flight Number</span><br>
        <span class="sup">{{ currentUser.flightNumber }} </span><br>
        {{ currentUser.departure.airport }}</p>
      </div>
      <div class="mui-col-xs-4 header-right" style="text-align: right">
        {{ currentUser.departure.actualTime | date: 'shortTime' }}
      </div>
    </div>
  </div>
</div>

<ul class="timeline">
  <li class="time time-first"><span class="sub">Arrival time at airport</span><span>{{ dateNow | date:'shortTime' }}</span></li>
  <li (click)="checkItem(task)" class="mui-panel actionItem {{task.status ? 'done' : 'pending'}}" *ngFor="let task of currentUser.taskList; let i = index">
    {{task.name}}
  </li>


  <li class="time time-last"><span>{{ currentUser.departure.actualTime | date:'shortTime' }}</span><span class="sub">Flight departure time</span></li>
</ul>

<ul>
  <li *ngFor="let option of eat">
    {{ option.title }}
  </li>
</ul>

{{ timeToDeparture }}
  

